body {
  margin: 0px;
}

li {
  list-style: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.header {
  height: 120px;
  border-bottom: 1px solid #dddddd;
  background-color: #7b5544;
}

.header-left {
  float: left;
  padding: 38px 60px;
  color: #fffff9;
  font-size: 30px;
}

.header-right {
  float: right;
  color: #fffff9;
}

.header-right p {
  float: left;
  padding: 25px 30px;
  margin: 20px 0;
  border-left: 1px solid #dddddd;
}

.selected {
  color: #ED7000;
}

.main {
  width: 1300px;
}

.footer {
  height: 200px;
  clear: left;
  border-top: 1px solid #dddddd;
  background-color: #7b5544;
}

.footer {
  padding: 30px;
}

.footer-top {
  float: left;
  width: 400px;
  padding: 15px 400px; 
}

.footer-top li {
  float: left;
  margin-right: 40px;
  margin-bottom: 5px;
  color: #fffff9;
}

.like-box {
  float: left;
  padding: 30px;
}

.sidebar {
  height: 600px;
  width: 250px;
  float: left;
  padding: 30px;
}


.sidebar li {
  color: #6c3524;
  padding: 5px;
  margin-bottom: 8px;
  border-bottom: 1px dotted #808080;

}

.contents {
  height: 900px;
  width: 900px;
  float: left;
  padding: 30px;
}

.contents h1 {
  color: #40BFB0;
}

.contents-item {
  padding-left: 100px
  height: 140px;
  border: 1px solid #dcdcdc;
}

.contents-item h1 {
  color: #7b5544;
  margin-left: 30px;
}

.contents-item img {
  color: #7b5544;
  margin-left: 40px;
  float: left;
}

.contents-item h2 {
  color: #7b5544;
  margin-top: 48px;
  margin-left: 80px;
}

.contents-item p {
  margin-left: 700px;
}

